{% extends 'base.html.twig' %}
{% block title %}Category{% endblock %}
{% block body %}
    <div class="table">
        <table class="table-striped" BORDER="1">
            <thead>
               <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
               </tr>
            </thead>

            <tbody class="table-hover">
                {% for cat in pagination %}
                    <tr>
                        <td><a href="{{ path('cat_show', {'id':cat.id}) }}">{{ cat.id }}</a></td>
                        <td>{{ cat.name|upper }}</td>
                        <td>
                            <ul>
                                <li><a href="{{ path('cat_show',{'id':cat.id}) }}"><h4>Show</h4></a></li>
                                <li><a href="{{ path('cat_edit',{'id':cat.id}) }}"><h4>Edit</h4></a></li>
                            </ul>
                        </td>
                    </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('cat_new') }}"><h4>Create a new Category</h4></a>
{% endblock %}